<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <form action="{% url 'index_update' %}" method="post">
    <header class="modal-card-head">
      <p class="modal-card-title">Create User</p>
      <button type="button" class="delete modal_close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ user.id }}">
        <div class="field">
        <label class="label" for="id_name">Name</label>
        <div class="control">
            <input class="input" type="text" name="name" id="id_name" maxlength="100" value="{{user.name}}" required>
        </div>
        </div>

        <div class="field">
        <label class="label" for="id_surename">Surname</label>
        <div class="control">
            <input class="input" type="text" name="surename" id="id_surename" maxlength="100" value="{{user.surename}}" required>
        </div>
        </div>
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button type="submit" class="button is-primary">Create User</button>
        <button class="button modal_close" type="button">Cancel</button>
      </div>
    </footer>
    </form>
  </div>
</div>